# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design Trident 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections
## Leadscrew Rotation Distance          [stepper_z], [stepper_z1], [stepper_z2]
## Z Endstop Switch location            [safe_z_home] section
## Z Endstop Switch offset for Z0       [stepper_z] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

#####################################################################
# 	Controller
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_1B0035000A51373330333137-if00
restart_method: command

#####################################################################
# 	Kinematics
#####################################################################

[printer]
kinematics: corexy
max_velocity: 450
max_accel: 4000
max_accel_to_decel: 2000
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 8.0

#####################################################################
# 	Miscellaneous
#####################################################################

[display_status]
[firmware_retraction]
[idle_timeout]
timeout: 1800
[pause_resume]
[save_variables]
filename: ~/klipper_config/macros/calibrate/save_variables.cfg
[virtual_sdcard]
path: ~/gcode_files

[include include.cfg]

#####################################################################
# 	Extruder
#####################################################################

#   Connected to MOTOR_6
#   Heater - HE0
#   Thermistor - T0
[extruder]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
rotation_distance: 22.833896
##  Use 50:10 for Stealthburner/Clockwork2 (BMG Gear Ratio)
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
control: pid
pid_Kp: 25.230
pid_Ki: 1.246
pid_Kd: 127.725
pressure_advance: 0.00
pressure_advance_smooth_time: 0.020
max_extrude_only_distance: 100.0

##  E0 on MOTOR6
[tmc2209 extruder]
uart_pin: PE1
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Heater Bed
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.83
min_temp: 0
max_temp: 120
control: pid
pid_Kp: 35.381
pid_Ki: 0.959
pid_Kd: 326.386

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^PG11
x_offset: 0
y_offset: 20.0
z_offset: 0
speed: 5.0
lift_speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.005
samples_tolerance_retries: 3