#####################################################################
# 	Z Stepper
#####################################################################
##  Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: DRIVER2_STEP
dir_pin: DRIVER2_DIR
enable_pin: !DRIVER2_EN
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
microsteps: 256
endstop_pin: probe:z_virtual_endstop
#endstop_pin: PG10
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.550
position_max: 250
position_min: -5
homing_speed: 5 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 2

[tmc2209 stepper_z]
uart_pin: DRIVER2_CS
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Center
##  Connected to MOTOR_3
[stepper_z1]
step_pin: DRIVER3_STEP
dir_pin: DRIVER3_DIR
enable_pin: !DRIVER3_EN
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
microsteps: 256

[tmc2209 stepper_z1]
uart_pin: DRIVER3_CS
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Front Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: DRIVER4_STEP
dir_pin: DRIVER4_DIR
enable_pin: !DRIVER4_EN
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
microsteps: 256

[tmc2209 stepper_z2]
uart_pin: DRIVER4_CS
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0