########################################
# BL Touch pins
########################################

[board_pins bltouch_header]
aliases:
    BL_TOUCH_1=<GND>,
    BL_TOUCH_2=<5V>,
    BL_TOUCH_3=PB6,
    BL_TOUCH_4=<GND>,
    BL_TOUCH_5=PB7

########################################
# DIAG pins
########################################

[board_pins diag_pins]
aliases:
    DIAG0=PG6,   DIAG1=PG9,   DIAG2=PG10,  DIAG3=PG11,
    DIAG4=PG12,  DIAG5=PG13,  DIAG6=PG14,  DIAG7=PG15

########################################
# Driver pins
########################################

[board_pins driver_pins]
aliases:
    DRIVER0_EN=PF14,   DRIVER0_STEP=PF13,   DRIVER0_DIR=PF12,   DRIVER0_CS=PC4,
    DRIVER1_EN=PF15,   DRIVER1_STEP=PG0,    DRIVER1_DIR=PG1,    DRIVER1_CS=PD11,
    DRIVER2_EN=PG5,    DRIVER2_STEP=PF11,   DRIVER2_DIR=PG3,    DRIVER2_CS=PC6,
    DRIVER3_EN=PA0,    DRIVER3_STEP=PG4,    DRIVER3_DIR=PC1,    DRIVER3_CS=PC7,
    DRIVER4_EN=PG2,    DRIVER4_STEP=PF9,    DRIVER4_DIR=PF10,   DRIVER4_CS=PF2,
    DRIVER5_EN=PF1,    DRIVER5_STEP=PC13,   DRIVER5_DIR=PF0,    DRIVER5_CS=PE4,
    DRIVER6_EN=PD4,    DRIVER6_STEP=PE2,    DRIVER6_DIR=PE3,    DRIVER6_CS=PE1,
    DRIVER7_EN=PE0,    DRIVER7_STEP=PE6,    DRIVER7_DIR=PA14,   DRIVER7_CS=PD3

########################################
# Driver SPI pins
########################################

[board_pins spi_pins]
aliases:
    MOSI=PA7,  MISO=PA6,  SCK=PA5

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins exp_headers]
aliases:
    # EXP1 header
    EXP1_1=PE8,    EXP1_2=PE7,
    EXP1_3=PE9,    EXP1_4=PE10,
    EXP1_5=PE12,   EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14,   EXP1_8=PE15,
    EXP1_9=<GND>,  EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6,    EXP2_2=PA5,
    EXP2_3=PB1,    EXP2_4=PA4,
    EXP2_5=PB2,    EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15,   EXP2_8=<RST>,
    EXP2_9=<GND>,  EXP2_10=<5V>

########################################
# Fan pins
########################################

[board_pins fan_pins]
aliases:
    FAN0=PA8,  FAN1=PE5,  FAN2=PD12,  FAN3=PD13,  FAN4=PD14,  FAN5=PD15,  FAN6=<GND>,  FAN7=<GND>

########################################
# Hotend pins
########################################

[board_pins hotend_pins]
aliases:
    HE0=PA2,  HE1=PA3,  HE2=PB10,  HE3=PB11

########################################
# Thermistor pins
########################################

[board_pins thermistor_pins]
aliases:
    TB=PF3,  T0=PF4,  T1=PF5,  T2=PF6,  T3=PF7

########################################
# RGB LED pins
########################################

[board_pins rgb_pin]
aliases:
    RGB_LED=PB0