#####################################################################
# Miscellaneous
#####################################################################

[gcode_macro DISABLE_MOTORS]
description: Disable all stepper motors
gcode:
    M18

[gcode_macro M900]
gcode:
    {% if 'K' in params %}
        {% if 'E' in params %}
            SET_PRESSURE_ADVANCE EXTRUDER={params.E} ADVANCE={params.K}
        {% else %}
            SET_PRESSURE_ADVANCE ADVANCE={params.K}
        {% endif %}
    {% endif %}

[gcode_macro SET_FLOW]
gcode:
    {% set flow = params.FLOW|default(1)|float*100 %}      # Convert param to percentage
    M221 S{flow}

[gcode_macro SET_SPEED]
gcode:
    {% set speed = params.SPEED|default(100)|int %}
    M220 S{speed}

#####################################################################
# Hidden gcode
#####################################################################

[gcode_macro _CG28]
gcode:
    {% if printer.toolhead.homed_axes != 'xyz' %}
    G28
    {% endif %}

[delayed_gcode _clear_display]
gcode:
    M117

#####################################################################
# Search printer objects
#####################################################################

[gcode_macro SEARCH_VARS]
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}